@model Hotel_Management.Models.StaffViewModel
@{
    ViewBag.Title = "Chi tiết nhân viên";
}

<h1>Thông tin Chi Tiết Nhân viên</h1>

<div>
    <hr />
    <form action='@Url.Action("Edit", "StaffAccManagement", new { id = @Model.AccountID })' method="post">
        @Html.AntiForgeryToken()
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Username)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Username)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Fullname)</dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CCCD)</dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(model => model.CCCD, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CCCD, "", new { @class = "text-danger" })
            </dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Position)</dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>

            @Html.HiddenFor(model => model.AccountID)
            @Html.HiddenFor(model => model.Username)
            @Html.HiddenFor(model => model.Status)
        </dl>
        <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
    </form>
    <div style="display: inline-flex ">
        @*<form action='@Url.Action("Delete", "StaffAccManagement", new { id = @Model.AccountID })' method="post" class="mt-2"
              onsubmit="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?');">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Xóa Nhân Viên</button>
        </form>*@
        <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
            Xóa Nhân Viên
        </button>
        <a href='@Url.Action("Index", "StaffAccManagement")' class="btn btn-secondary mt-2 mx-3">Quay lại danh sách</a>
    </div>
    @*from confirm delete staff account *@
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác Nhận Xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa nhân viên này không? Hành động này không thể hoàn tác.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <form action='@Url.Action("Delete", "StaffAccManagement", new { id = @Model.AccountID })' method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    dl > dt{
        align-content: center;
    }
</style>