@model IEnumerable<Hotel_Management.Models.StaffViewModel>
@{
    ViewBag.Title = "Info";
}


<h1>Quản lý Nhân viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm Nhân viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
            <th>@Html.DisplayNameFor(model => model.CCCD)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Position)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td><a asp-action="Details" asp-route-id="@item.AccountID">@Html.DisplayFor(modelItem => item.Fullname)</a></td>
                <td>@Html.DisplayFor(modelItem => item.CCCD)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>
                    <form asp-action="ToggleStatus" asp-route-id="@item.AccountID" method="post">
                        <button type="submit" class="btn btn-sm @(item.Status == "Active" ? "btn-success" : "btn-danger")">
                            @(item.Status == "Active" ? "Mở" : "Khóa")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>